volumes:
  opensearch-3-data:
  solr-9-data:
  valkey-9-data:
  scratch:

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    labels:
      lagoon.type: basic-persistent
      lagoon.persistent: /app/files
      lagoon.persistent.size: 10Mi
      lagoon.persistent.class: bulk
    ports:
      - '3000:3000'
    container_name: go-web
    environment:
      - LAGOON_TEST_VAR=internal-services-test
      - LAGOON_GIT_SHA=SHA256
      - LAGOON_ENVIRONMENT_TYPE=development
      - STORAGE_LOCATION=/app/files
    volumes:
      - scratch:/app/files

  mariadb-10-11:
    image: uselagoon/mariadb-10.11:latest
    labels:
      lagoon.type: mariadb
    ports:
      - '3306'

  mariadb-11-4:
    image: uselagoon/mariadb-11.4:latest
    labels:
      lagoon.type: mariadb-single
      lagoon.persistent.size: 100Mi
    ports:
      - '3306'

  postgres-13:
    image: uselagoon/postgres-13:latest
    labels:
      lagoon.type: postgres-single
      lagoon.persistent.size: 100Mi
    ports:
      - '5432'

  postgres-17:
    image: uselagoon/postgres-17:latest
    labels:
      lagoon.type: postgres
    ports:
      - '5432'

  mysql-8-4:
    image: uselagoon/mysql-8.4:latest
    labels:
      lagoon.type: mariadb-single
    ports:
      - "3306"

  opensearch-3:
    image: uselagoon/opensearch-3:latest
    environment:
    - cluster.name=opensearch-cluster
    - node.name=opensearch-3
    - discovery.seed_hosts=opensearch-3
    - cluster.initial_cluster_manager_nodes=opensearch-3
    - bootstrap.memory_lock=true
    - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-3-data:/usr/share/opensearch/data
    labels:
      lagoon.type: opensearch
      lagoon.persistent.size: 100Mi
    ports:
      - '9200'

  mongo-4:
    image: uselagoon/mongo-4:latest
    labels:
      lagoon.type: mongo
    ports:
      - '27017'

  redis-8:
    image: uselagoon/redis-8:latest
    labels:
      lagoon.type: redis
    ports:
      - '6379'

  solr-9:
    image: uselagoon/solr-9:latest
    labels:
      lagoon.type: solr
      lagoon.persistent.size: 100Mi
    ports:
     - "8983"
    volumes:
      - solr-9-data:/var/solr
    command:
      - solr-precreate
      - mycore

  valkey-9:
    image: uselagoon/valkey-9:latest
    labels:
      lagoon.type: valkey-persistent
      lagoon.persistent.size: 100Mi
    ports:
      - '6379'
    volumes:
      - valkey-9-data:/data
    environment:
      - VALKEY_FLAVOR=persistent
