<!-- template.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Internal Services Test</title>
</head>
<body style="background: black;font-family: monospace;color: white;">
<h1>Internal Services Test</h1>
<p>This project was designed to perform a functional test on a given native Lagoon service.</p>
<p>It works by:</p>
<ul>
  <li>Receiving a request from the Lagoon service</li>
  <li>Performing a test on the service</li>
  <li>Returning the result of the test</li>
</ul>
<p>To check a service, use this format http://0.0.0.0:3000/{service-type}?service={service-name}</p>
<h2>Available Services:</h2>
<ul>
  {{range .Services}}
    {{if (eq .Type "storage")}}
    <li><a href="/{{.Type}}?path={{.Name}}">storage:{{.Name}}</a></li>
    {{else}}
    <li><a href="/{{.Type}}?service={{.Name}}">{{.Name}}</a></li>
    {{end}}
  {{end}}
</ul>
</body>
</html>
