name: Image test routine

on:
  push:
    branches:
      - 'main'
      - 'dev'
  pull_request:
    branches:
      - 'main'

jobs:
  test-suite:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: "0"
    - name: Pull all images
      run: |
        docker compose pull --ignore-pull-failures
    - name: Install test harness
      run: |
        yarn add @lando/leia
    - name: Run docker-compose tests
      run: |
        yarn leia "TESTING_dockercompose.md" -r 2 -s 'Start up tests' -t 'Verification commands' -c 'Destroy tests'
